

/* FAVO */


body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a:hover{
 -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

table td, table th {
    text-align: left;
}

.w3eden a {
    color: #000;
}

.w3eden a:hover {
    color: #c20015;
}

.breadcrumb .current, .breadcrumb a:hover {
color: #c20015;
}

.more_facts_button .more_facts_button_text {

    display: block;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: none;
    padding: 0 0 5px;
}

h3 a {
color:#000;
}

.sub{
line-height: 17px;
font-size: 13px;
}

.q_accordion_holder.accordion.boxed .ui-accordion-header{
background-color:#e2e2e2;
}

.q_list.circle ul > li, .q_list.number ul > li {
    margin: 0 0 15px;
color: #6e6f6d;
}

.q_list.circle ul>li:before{
    background-color: #c20015 !important;
}


#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea, #mailpoet_form_1 .mailpoet_select, #mailpoet_form_1 .mailpoet_date_month, #mailpoet_form_1 .mailpoet_date_day, #mailpoet_form_1 .mailpoet_date_year, #mailpoet_form_1 .mailpoet_date {
    display: inline !important;
    padding: 15px;
margin-top:15px;
margin-bottom:15px;
}

.mailpoet_submit{
color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border-color: #000000;
    font-size: 15px;
    line-height: 45px;
    height: 45px;
    font-style: inherit;
    font-weight: 400;
    background-color: #000000;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    letter-spacing: 0px;
    text-transform: none;
    border-width: 0px;
    padding-left: 25px;
    padding-right: 25px;
}

.mailpoet_submit:hover {
background-color: #c20015;
}

.q_tabs .tabs-nav li a {

    height: 40px;
    line-height: 40px;
    display: block;
    margin: 0;
    padding: 0 14px;
    font-size: 18px;
    text-decoration: none;
    font-style: normal;
    color: #b4b4b4;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 500;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.footer_col2 .mailpoet_submit {
background-color: #c20015 !important;
}

.q_list.circle ul > li, .q_list.number ul > li {
    font-weight: 300;
}

.portfolio_navigation {
display:none !important;
}

.testimonial_rating_holder {
    color: #c20015 !important;
}

span.wpcf7-not-valid-tip {
    color: #c20015;
    font-size: 1em;
    font-weight: normal;
    display: block;
}

