@media only screen and (max-width: 1000px){
						.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner {
			padding-top:45px !important; /*important because of the inline style on page*/
		}
	}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
			h1, h1 a {
			font-size: 35px; 			line-height: 47px; 		    		}
	
			h2, h2 a {
			font-size: 23px; 			line-height: 35px; 		    		}
	
			h3, h3 a {
			font-size: 19px; 			line-height: 29px; 		    		}
	
			h4, h4 a {
			font-size: 23px; 			line-height: 35px; 		    		}
	
			h5, h5 a {
			font-size: 22px; 			line-height: 31px; 		    		}
	
			h6, h6 a {
			font-size: 22px; 					    		}
	
	
	
	
	
	
	
	
}
@media only screen and (max-width: 600px) {
			h1, h1 a {
			font-size: 24px; 			line-height: 36px; 		    		}
	
			h2, h2 a {
			font-size: 22px; 			line-height: 29px; 		    		}
	
			h3, h3 a {
			font-size: 19px; 			line-height: 29px; 		    		}
	
			h4, h4 a {
			font-size: 22px; 			line-height: 30px; 		    		}
	
			h5, h5 a {
			font-size: 22px; 			line-height: 29px; 		    		}
	
			h6, h6 a {
			font-size: 22px; 					    		}
	
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}