
body {
	margin-left:0;
	margin-top:0;
/*	background-image:url('../images/bg_body.jpg'); */
	background-color: #DDDDDD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
	margin: 1px 0px 5px 17px;
	padding:0px;
}
ul.bluesquare
{
    list-style: url(/images/blue-square.gif);
    margin-bottom: 4px;
}
ul.redsquare
{
    list-style: url(/images/red-square.gif);
    margin-bottom: 4px;
}
li.adlist
{
margin-bottom: 6px;
padding-left: 5px;
}
ol {
	margin: 1px 0px 5px 17px;
	padding:0px;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-Decoration: underline;
}
a:active {
	color: red;
	text-decoration: none;
}

a.newstext:hover {
	text-decoration: none;
	background-color:#F2F2F2;
}

a.newstext:active {
	color: #333333;;
	text-decoration: none;
}

.popup {
	margin-left:0;
	margin-top:0;
	background-color:#FFFFFF;
}
h1 {
	color: #000000;
	font-weight: bold;
	font-size: 12px;
}
h3 {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	margin-top:10px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:6px;
	border-bottom:1px dotted #B2B2B2;
}
li {
	color: #000000;
	font-size: 11px;
	margin-left:0px;
	margin-top:0px;
	line-height:140%;
}
li.pfeil {
	list-style-image: url(images/pfeil.gif);
	margin-left: -5px;
}
ol {
	color: #000000;
	font-size: 11px;
}
p {
	color: #000000;
	font-size: 11px;
	margin-top:8px;
	margin-bottom:8px;
	line-height:140%;
}
td {
	color: #000000;
	font-size: 11px;
}
th {
	color: #000000;
	font-size: 11px;
}
input {
	color: #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
}
select {
	color: #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
}
option {
	color: #000000;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
textarea {
	color: #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding:2px;
}
div {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

table {
	border-collapse:collapse;
}


@font-face { font-family: logos;
             font-display: swap;
             src: url(/fonts/Handgotn.ttf); }

.logo {
	font-family: logos, arial, sans-serif;
	font-size: 15px;
	}

.flag {
    border: 1px solid #B2B2B2;
    width: 20px;
	}

.trennung {
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
      }

.shadow2 {
	margin: auto;
	background-color: #FFF;
	-moz-box-shadow: 2px 2px 10px #3a2f29;
	-o-box-shadow: 2px 2px 10px #3a2f29;
	-webkit-box-shadow: 2px 2px 10px #3a2f29;
	box-shadow: 2px 2px 10px #3a2f29;
}

.shadow {
	margin: auto;
	background-color: #FFF;
	-moz-box-shadow: 1px 1px 5px #666666;
	-o-box-shadow: 1px 1px 5px #666666;
	-webkit-box-shadow: 1px 1px 5px #666666;
	box-shadow: 1px 1px 5px #666666;
}

.dotted {
	border-bottom:1px dotted #B2B2B2;
}
.tbox-title {
	color: #B72332;
	font-size: 11px;
	margin-top:8px;
}
.tbox-title2 {
	color: white;
	font-size: 11px;
	margin-top:8px;
}
.line {
	padding:0px;
	margin-top:8px;
	margin-bottom:8px;
}

.balken {
	font-weight:bold;
	color:white;
	padding-left:8px;
	padding-top:4px;
	background-color: #666666; }

.balken_hell {
	font-weight:bold;
	color:black;
	padding:8px;
	background-color: #e7e5e5; }

.balken_news {
	font-weight:bold;
	color:black;
	padding:8px;
	background-color: #e7e5e5; }

.balken_grau {
	color:white;
	padding:5px;
	padding-left:8px;
	margin-top:0px;
	margin-left:1px;
	margin-bottom:0px;
	background-color:#666666;
}

.balken_topmenu {
	color:white;
	padding-left:8px;
	margin-top:0px;
	margin-left:1px;
	margin-bottom:0px;
	padding-top:0px;
	background-image:url('../images/balken.jpg');
	background-repeat:x-repeat;
}
.balken_mitte {
	font-weight:bold;
	color:white;
	padding: 4px 8px 4px 8px;
	background-image:url('../images/balken.jpg');
	background-repeat:x-repeat;
}
.balken_mitte_rot {
	font-weight:bold;
	color:white;
	padding: 4px 8px 4px 8px;
	background-image:url('../images/balken_rot.jpg');
	background-repeat:x-repeat;
}
.balken230 {
	font-weight:bold;
	color:white;
	margin-top:2px;
	margin-right:4px;
	padding: 4px 8px 4px 8px;
	background-image:url('../images/balken.jpg');
	background-repeat:x-repeat;
}
.balken230_rot {
	font-weight:bold;
	color:white;
	margin-top:2px;
	margin-right:4px;
	padding: 4px 8px 4px 8px;
	background-image:url('../images/balken_rot.jpg');
	background-repeat:x-repeat;
}
.balken_menu {
	font-weight:bold;
	color:white;
	margin-top:4px;
	padding: 4px 8px 4px 8px;
	background-color:#666666;
}
.balken_markt_blau {
	font-weight:bold;
	color:white;
	margin-top:0px;
	padding: 4px 8px 4px 8px;
	background-image:url('../images/balken.jpg');
	background-repeat:x-repeat;
}
.balken_markt_rot {
	font-weight:bold;
	color:white;
	margin-top:0px;
	padding: 4px 8px 4px 8px;
	background-image:url('../images/balken_rot.jpg');
	background-repeat; x-repeat;
}
.balken_markt_gruen	{
	font-weight:bold;
	color:black;
	margin-top:0px;
	padding: 4px 8px 4px 8px;
	background-image:url('../images/balken_gruen.jpg');
	background-repeat; x-repeat;
}
.balken_rechts {
	font-weight:bold;
	color:white;
	margin-top:0px;
	margin-right:0px;
	padding: 4px 8px 4px 8px;
	background-color:#666666;
}
.balken_rechts_rot	{
	font-weight:bold;
	color:white;
	margin-top:0px;
	margin-bottom:-6px;
	padding: 4px 8px 4px 8px;
	background-image:url('../images/balken_rot2.gif');
	background-repeat:no-repeat;
}
.nomargin {
	margin:0px;
}
.topmargin {
	margin-left:0px;
	margin-top:6px;
	margin-bottom:0px;
	margin-right:0px;
}
.topm2 {
	margin-left:0px;
	margin-top:2px;
}
.aufz {
	font-size:10px;
	margin-left:15px;
	margin-bottom:4px;
}
.aufz2 {
	margin-left:15px;
	margin-bottom:8px;
}
.link {
	text-decoration: underline;
}
.linkrot {
	color: red;
	Text-Decoration: underline;
}
.link9pt {
	font-size: 9px;
	Text-Decoration: underline;
}
.verweis {
	color: #000000;
	font-size: 10px;
	font-style: italic;
}
.aktiv {
	font-weight: bold;
	color: #004C8B;
}
.rot {
	color: red;
}
.gruen {
	color: green;
}
.orange {
	color: orange;
}
.weiss {
	color: white;
}
.grau {
	color: grey;
}
.input
{
	color: #000000;
	font-size: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:0px; margin-bottom:0px;
}
.form {
	color: #000000;
	font-size: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:0px;
	margin-bottom:0px;
}
.px4 {
	color: #000000;
	margin-top:4px;
	margin-bottom:4px;
}
.px1 {
	color: #000000;
	margin-top:1px;
	margin-bottom:1px;
}
.comment {
	display:none;
	color: #FF0000;
}
.pt_rot {
	color: #B72332;
}
.pt_blau {
	color: #004C8B;
}
.pt_blau10 {
	color: #004C8B;
	font-size: 10px;
}
.pt_admin {
	color: green;
	font-weight: bold;
}
.li1 {
	margin-bottom:6px;
	line-height:140%;
}
.ptb10 {
	color: #004C8B;
	font-size:10px;
}
.box_rot {
	width:12px;
	height:12px;
	background-color:#FF0000;
	border:1px solid black;
}
.box_gruen {
	width:12px;
	height:12px;
	background-color:#33CC00;
	border:1px solid black;
}
.box_gelb {
	width:12px;
	height:12px;
	background-color:#FFFF00;
	border:1px solid black;
}
.box_grau {
	width:12px;
	height:12px;
	background-color:#CCCCCC;
	border:1px solid black;
}
.l8 {
	color: #FFFFFF;
	font-size: 8px;
}
.l9 {
	color: #FFFFFF;
	font-size: 9px;
}
.l10 {
	color: #FFFFFF;
	font-size: 10px;
}
.l11 {
	color: #FFFFFF;
	font-size: 11px;
}
.d7 {
	color: #000000;
	font-size: 7px;
}
.d8 {
	color: #000000;
	font-size: 8px;
}
.d9 {
	color: #000000;
	font-size: 9px;
}
.d95 {
	color: #000000;
	font-size: 9.5px;
}
.d10 {
	color: #000000;
	font-size: 10px;
}
.d11 {
	color: #000000;
	font-size: 11px;
}
.d12 {
	color: #000000;
	font-size: 12px;
}
.d14 {
	font-size: 14px;
}
.d14g {
	color: #777777;
	font-size: 14px;
	font-weight: bold;
}
.d16 {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}
.d9b {
	font-size: 9px;
	color: #004C8B;
}
.o20 {
	margin-top:20px;
}
.g9 {
	color: #AAAAAA;
	font-size: 9px;
}
.r16 {
	color: #990000;
	font-size: 16px;
	font-weight: bold;
}

/* Styles für Tabellenelemente und Rahmen */

.full {
	border: 1px solid #B2B2B2;
	border-collapse:collapse;
}
.ru {
	border-bottom: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
}
.r3 {
	border-bottom: 1px solid #B2B2B2;
	border-top: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
}
.row {
	border-bottom: 1px solid #B2B2B2;
	border-top: 1px solid #B2B2B2;
}
.right {
	border-right: 1px solid #B2B2B2;
}
.left {
	border-left: 1px solid #B2B2B2;
}
.top {
	border-top: 1px solid #B2B2B2;
}
.top3 {
	border-top: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
}
.sides {
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
}
.bott {
	border-bottom: 1px solid #B2B2B2;
}
.bott3 {
	border-bottom: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
}

.full_dot {
	border: 1px dotted #B2B2B2;
	border-collapse:collapse;
}
.ru_dot	{
	border-bottom: 1px dotted #B2B2B2;
	border-right: 1px dotted #B2B2B2;
}
.r3_dot	{
	border-bottom: 1px dotted #B2B2B2;
	border-top: 1px dotted #B2B2B2;
	border-right: 1px dotted #B2B2B2;
}
.row_dot {
	border-bottom: 1px dotted #B2B2B2;
	border-top: 1px dotted #B2B2B2;
	border-collapse:collapse;
}
.right_dot {
	border-right: 1px dotted #B2B2B2;
}
.left_dot {
	border-left: 1px dotted #B2B2B2;
}
.top_dot {
	border-top: 1px dotted #B2B2B2;
}
.top3_dot {
	border-top: 1px dotted #B2B2B2;
	border-left: 1px dotted #B2B2B2;
	border-right: 1px dotted #B2B2B2;
}
.sides_dot {
	border-left: 1px dotted #B2B2B2;
	border-right: 1px dotted #B2B2B2;
}
.bott_dot {
	border-bottom: 1px dotted #B2B2B2;
}
.bott3_dot {
	border-bottom: 1px dotted #B2B2B2;
	border-left: 1px dotted #B2B2B2;
	border-right: 1px dotted #B2B2B2;
}

.t3 {
	margin-left: -3px;
}
.t5 {
	margin-left: -5px;
}

.tulexframe {
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Menüs und Textboxen */

.menu {
	color: #000000;
	font-size: 11px;
}
.menu_head {
	padding:2px;
	background-color: #004C8B;
	color:#FFFFFF;
	border: 1px solid #004C8B;
	font-size: 11px;
}
.menu_head2 {
	padding:2px;
	background-color: #B72332;
	color:#FFFFFF;
	border: 1px solid #B72332;
	font-size: 11px;
}
.menu_list {
	padding:2px; margin-bottom:3px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
	font-size: 11px;
}
.menu_frame {
	padding:2px;
	background-color: #FFFFFF;
	border: 1px solid #B2B2B2;
}
.menu_head0 {
	padding:2px;
	background-color: #004C8B;
	color:#FFFFFF;
	border: 1px solid #004C8B;
	border-right: 1px dotted #B2B2B2;
	font-size: 11px;
}
.menu_list0 {
	padding:2px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
	font-size: 11px;
}

.box_head {
	background-color: #F2F2F2;
	border: 1px solid #B2B2B2;
}
.box_head_blank {
	border: 1px solid #B2B2B2;
}
.box_list {
	text-align: left;
	background-color: #FFFFFF;
	padding:3px;
	border-bottom: 1px solid #B2B2B2;
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
}
.box_list_dot {
	text-align: left;
	background-color: #FFFFFF;
	padding:3px;
	border-bottom: 1px dotted #B2B2B2;
	border-left: 1px dotted #B2B2B2;
	border-right: 1px dotted #B2B2B2;
}
.box_head_dot {
	background-color: #F2F2F2;
	border: 1px dotted #B2B2B2;
}


/* Scroll-Boxen */
.scroll_marquee {
	border-top: 1px dotted #B2B2B2;
	width:100%;
	height:100%;
}

 /* block list */
.marq {
	border-top: 1px dotted #B2B2B2;
	margin: 4px 0;
	padding:0;
	width:100%;
}
.marq li {
	margin-left:-17px;
	padding-left:0px;
	border-bottom: 1px dotted #B2B2B2;
	list-style: none; width:100%;
}
.marq li a,.block li em {
	color: #000000;
	display: block;
}
.marq li em {
	font-size: 0.9em;
	font-style: normal;
}
.marq li a {
	padding: 4px 3%;
	text-decoration: none;
	width: 100%;
}
.marq li a span {
	font-weight: bold;
}
.marq li a:hover {
	background: #f2f2f2;
	color: #000000;
}


.button
{
	border: 1px solid grey;
	margin: 0px;
	padding: 1px 2px;
	text-align: left;
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
	color:#000000;
	background-color:#EEEEEE;
}

.button_icon
{	padding: 0px; margin-bottom: 3px; width:26px; height:26px; }

.button_red
{	background-color:#ffcccc; }

.button_yellow
{	background-color:#ffffcc; }

.button_green
{	background-color:#ccffcc; }

.button_blue
{	background-color:#99ccff; }

.button_white
{	background-color:#FFFFFF; }

.button:hover
{
  color:yellow;
  background-color:grey;
  text-decoration: none;
}




/* Listenformate für News etc. */

.liste0 {
	background:#FFFFFF;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 1px dotted #B2B2B2;
	border-top: 1px dotted #B2B2B2;
}
.liste1 {
	background:#F5F5F5;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 1px dotted #B2B2B2;
	border-top: 1px dotted #B2B2B2;
}
.liste2 {
	background:#C8D7EA;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 1px dotted #B2B2B2;
	border-top: 1px dotted #B2B2B2;
}

/* Listenformate für Börsen etc. */

.listeb0 {
	background:#FFFFFF;
	padding:3px;
	border-bottom: 1px dotted #B2B2B2;
	border-top: 1px dotted #B2B2B2;
}
.listeb1 {
	background:#F5F5F5;
	padding:3px;
	border-bottom: 1px dotted #B2B2B2;
	border-top: 1px dotted #B2B2B2;
}



#topbanner1  {
	position: absolute;
	top: 5px;
	left: 15px;
	width: 980px;
	text-align: center;
}
#wallpaper1  {
	position: absolute;
	top: 0px;
	left: 15px;
	width: 100%;
	text-align: center;
}
#skyscraper1 {
	position: absolute;
	top: 80px;
	left: 996px;
}
#menu1 {
	position: absolute;
	top: 208px;
	left: 15px;
	width: 162px;
}

#normal1 {
	position:absolute;
	top: 209px;
	left: 192px;
	width: 525px;
	
border: 1px solid #B2B2B2;
background-color:white;
min-height:1200px;
padding-top:5px;
padding-bottom:20px;
padding-left:15px;
padding-right:10px; 
}
#breit1 {
	position:absolute;
	top: 209px;
	left: 192px;
	width: 786px;
	
border: 1px solid #B2B2B2;
background-color:white;
min-height:1200px;
padding-top:5px;
padding-bottom:20px;
padding-left:15px;
padding-right:10px; 
}
#breit3 {
	position:absolute;
	top:209px;
	left:192px;
	width:801px;
	
border: 1px solid #B2B2B2;
background-color:white;
min-height:1200px;
padding-top:5px;
padding-bottom:20px;
padding-left:15px;
padding-right:10px; 
}
#voll1 {
	position:absolute;
	top: 209px;
	left: 15px;
	width: 943px;
	
border: 1px solid #B2B2B2;
background-color:white;
min-height:1200px;
padding-top:5px;
padding-bottom:20px;
padding-left:15px;
padding-right:10px; 
}
#extra1 {
	position:absolute;
	top: 209px;
	left: 15px;
	width: 97%;
	
border: 1px solid #B2B2B2;
background-color:white;
min-height:1200px;
padding-top:5px;
padding-bottom:20px;
padding-left:15px;
padding-right:10px; 
}


#right1	{
	position:absolute;
	top: 204px;
	left:727px;
	width: 254px;
	padding: 4px;
}
#menu_top1 {
	position: absolute;
	top: 80px;
	left: 15px;
	width: 963px;
	height: 113px;
	background-color: #F2F2F2;
	margin-right: 3px;
	border:  1px solid #B2B2B2;


#zweispaltig_small1 {
	position:absolute;
	top: 209px;
	left: 15px;
	width: 692px;
	
border: 1px solid #B2B2B2;
background-color:white;
min-height:1200px;
padding-top:5px;
padding-bottom:20px;
padding-left:15px;
padding-right:10px; 
}

#zweispaltig_right_small1	{
	position:absolute;
	top: 209px;
	left: 717px;
	width: 254px;
	padding: 4px;
	border: 1px solid #B2B2B2;
	background-color:white;
}


#zweispaltig_breit1 {
	position:absolute;
	top: 209px;
	left: 15px;
	width: 771px;
	
border: 1px solid #B2B2B2;
background-color:white;
min-height:1200px;
padding-top:5px;
padding-bottom:20px;
padding-left:15px;
padding-right:10px; 
}

#zweispaltig_right_breit1	{
	position:absolute;
	top: 209px;
	left: 806px;
	width: 162px;
	padding: 4px;
	border: 1px solid #B2B2B2;
	background-color:white;
}


}

#topbanner2 {
	position:absolute;
	top:5px;
	left:15px;
	width:980px;
	text-align:center;
}
#wallpaper2 {
	position:absolute;
	top:0px;
	left:15px;
	width:100%;
	text-align:center;
}
#skyscraper2 {
	position:absolute;
	top:110px;
	left:996px;
}
#menu2 {
	position:absolute;
	top:238px;
	left:15px;
	width:162px;
}
#normal2 {
	position:absolute;
	top:239px;
	left:192px;
	width:525px;
	
border: 1px solid #B2B2B2;
background-color: white;
padding-bottom: 20px;
padding-top: 5px;
padding-left: 15px;
padding-right: 10px;
min-height: 1200px;
}
#breit2 {
	position:absolute;
	top:239px;
	left:192px;
	width:786px;
	
border: 1px solid #B2B2B2;
background-color: white;
padding-bottom: 20px;
padding-top: 5px;
padding-left: 15px;
padding-right: 10px;
min-height: 1200px;
}
#voll2 {
	position:absolute;
	top:239px;
	left:15px;
	width:941px;
	
border: 1px solid #B2B2B2;
background-color: white;
padding-bottom: 20px;
padding-top: 5px;
padding-left: 15px;
padding-right: 10px;
min-height: 1200px;
}
#extra2 {
	position:absolute;
	top:239px;
	left:15px;
	width:97%;
	
border: 1px solid #B2B2B2;
background-color: white;
padding-bottom: 20px;
padding-top: 5px;
padding-left: 15px;
padding-right: 10px;
min-height: 1200px;
}
#right2	{
	position:absolute;
	top: 234px;
	left:726px;
	width:254px;
	padding:4px;
}
#menu_top2 {
	position:absolute;
	top:110px;
	left:15px;
	width:963px;
	height:113px;
	background-color:#F2F2F2;
	margin-right:3px;
	border: 1px solid #B2B2B2;
}

#popup {
	position:absolute;
	top:0px;
	background: #FFFFFF;
	width:99%;
	height:99%;
	padding:20px;
}
#debug {
	position:fixed;
	top:10px;
	left:1380px;
	width:300px;
	padding:5px;
	border: 1px solid #B2B2B2;
	background: #FFFFFF;
}
#admin_menu {
	position:absolute;
	top:5px;
	left:5px;
	width:150px;
	padding-bottom:100px;
}
#admin_menu2 {
	position:absolute;
	top:5px;
	left:1262px;
	width:300px;
	padding-bottom:100px;
	#border: 1px solid #B2B2B2;
	#background: #FFFFFF;
}
#admin_menu2b {
	position:fixed;
	top:5px;
	left:1262px;
	width:200px;
	padding-bottom:100px;
	border: 1px solid #B2B2B2;
	background: #FFFFFF;
}
#admin_content {
	position:absolute;
	top:5px;
	left:158px;
	width:1100px;
	padding-bottom:100px;
	border: 1px solid #B2B2B2;
	background: #FFFFFF;
}	
#reporting {
	position:absolute;
	top:15px;
	left:15px;
	width:1100px;
	padding-bottom:100px;
	border: 1px solid #B2B2B2;
	background: #FFFFFF;	
}
#admin_content_1000 {
	position:absolute;
	top:5px;
	left:158px;
	width:1000px;
	padding-bottom:100px;
	border: 1px solid #B2B2B2;
	background: #FFFFFF;
}
#admin_kal {
	position:absolute;
	top:5px;
	left:158px;
	width:1100px;
	padding-bottom:100px;
	border: 1px solid #B2B2B2;
	background: #FFFFFF;
}
#admin2_content {
	position:absolute;
	top:5px;
	left:158px;
	width:1000px;
	min-height:630px;
	padding-bottom:100px;
	border: 1px solid #B2B2B2;
	padding-left:20px;
	padding-right:20px;
	background-color: white;
}
#admin_max {
	position:absolute;
	top:5px;
	left:158px;
	width:1300px;
	padding-bottom:100px;
	border: 1px solid #B2B2B2;
	background: #FFFFFF;
}
#blank {
	position:absolute;
	top:5px;
	left:158px;
	width:1000px;
	padding-bottom:100px;
	border: 1px solid #B2B2B2;
	background: #FFFFFF;
}