/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 5px;
margin-right: 3px;
border: 1px solid #B2B2B2;
border-bottom-color: white;
color: #2d2b2b;
background: white top left repeat-x;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
font-weight: bold;
}

.shadetabs li a.selected{ /*selected main tab style */
border-bottom-color: #f2f2f2;
background: #666666;
font-weight: bold;
color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
background: white;
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}


/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs2{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs2 li{
display: inline;
margin: 0;
}

.shadetabs2 li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 5px;
margin-right: 3px;
border: 1px solid #B2B2B2;
border-bottom-color: white;
color: #2d2b2b;
background: white top left repeat-x;
}

.shadetabs2 li a:visited{
color: #2d2b2b;
}

.shadetabs2 li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs2 li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
font-weight: bold;
}

.shadetabs2 li a.selected{ /*selected main tab style */
border-bottom-color: white;
background: white;
font-weight: bold;
color: #B72332;
}

.shadetabs2 li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}